@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Roboto', sans-serif;
}
.navbar {
    position: relative;
    transition: top 0.8s ease-in-out;
  }
  
  .navbar.fixed {
    background-color: rgba(216, 213, 213, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.8s ease-in-out;
  }

#home{
    height: 80vh;
    background-image: url("/homebg.avif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.box{
    background-color:rgb(239, 243, 245);
    color:black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#menuIcon{
    display: none;
}


#contact{
    background-image: url("/services.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    #menuIcon{
        display: block;
    }
    #nav {
      position: absolute;
      flex-direction: column;
      background-color: white;
      width: 100%;
      gap: 20px;
      padding-bottom: 10px;
      padding-left: 15px;
      align-items: start;
      top: -300px;
      transition: 0.5s;
    }
    #logo {
      position: absolute;
      left: 0;
      font-size: 20px;
      top: 5px;
    }
    #nav.active {
      top: 43px;
    }
  }
  